header {
  margin-top: 10px;
  border-bottom: 3px solid #ededef;
  padding-bottom: 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: conter;
}

.header-top img {
  margin-top: 10px;
  width: 50px;
}

.header-top__title {
  font-size: 50px;
  font: bold;
  padding-left: 150px;
}
